<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

<head>
<meta charset="utf-8">
<title>Ajout des Voitures</title>
</head>
<body>
	<div th:replace="template"></div>
<div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
<div class="card">
 <div class="card-header" th:if="${mode=='new'}"> Ajout des Voitures </div>
 <div class="card-header" th:if="${mode=='edit'}">Modification des Voitures
</div>
<div class="card-body">
<form th:action="@{saveVoiture}" method="post">
 <div class="form-group">
<label class="control-label" hidden>ID Voiture :</label>
<input type="hidden" name="idVoiture" class="form-control"th:value="${voiture.idVoiture}" />
 </div>
 <form th:action="@{saveVoiture}" method="post">
 <div class="form-group">
<label class="control-label">Modele Voiture:</label>
<input type="text" name="modele" class="form-control" th:value="${voiture.modele}" />
<span th:errors= ${voiture.modele} class="text-danger"> </span>
 </div>
 <div class="form-group">
<label class="control-label">Prix Voiture :</label>
<input type="text" name="prix" class="form-control" th:value="${voiture.prix}" />
<span th:errors= ${voiture.prix} class="text-danger"> </span>
 </div>
 <div class="form-group">
 <label class="control-label">date Realisation :</label>
<input type="date" name="relaseDate" class="form-control" th:value="${voiture.relaseDate}" />
<span th:errors= ${voiture.relaseDate} class="text-danger"> </span>
 </div>
 <div class="form-group">
 <label class="control-label">Coleur:</label>
<input type="text" name="coleur" class="form-control" th:value="${voiture.coleur}" />
<span th:errors= ${voiture.coleur} class="text-danger"> </span>
 </div>
 <div class="form-group">
							<label class="control-label">Marque :</label> 
							<select     name="marque" class="form-control" th:value="${voiture.marque.nomMarque}"   th:if= "${!#strings.isEmpty(voiture.marque)}" >
								<option th:each="c:${marque}" th:if="${mode=='edit'}"
									th:value="${c.idMarque}" th:text="${c.nomMarque}"
									th:selected="${ c.idMarque==voiture.marque.idMarque}"></option>

								<option th:each="c:${marque}" th:if="${mode=='new'}"
									th:value="${c.idMarque}" th:text="${c.nomMarque}"></option>
							</select>
							
						
						<!-- Pour ne pas avoir d'erreurs si la catégorie est null on ajoute ce select -->
							<select     name="marque" class="form-control"    th:if= "${#strings.isEmpty(voiture.marque)}" >
								<option th:each="c:${marque}" th:value="${c.idMarque}" th:text="${c.nomMarque}"></option>
							</select>
							
						</div>

<label class="control-label">page : </label>
  <input type="text" name="page"  th:value="${page}" />
 <div>
 <button type="submit" class="btn btn-primary">Valider</button>
 </div>
 </form>
</div>
 </div>
 </div>
 </div>
</body>
</html>
